.form-wrapper {
    display: flex;
        justify-content: center;
    background-color: rgb(16, 181, 123);
}

.search-form {
    padding: 30;
}

.jsbtn-submit {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.info {
display: flex;
    align-content: center;
    justify-content: space-around;
}

.info-item {
    text-align: center;
}

.load-more {
    display: block;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    border: 0;
    border-radius: 4px;
    background-color: rgb(9, 177, 118);
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    border: 2px solid rgb(163, 183, 11)

}

.load-more:hover {
   
    background-color: rgb(10, 97, 66);
    
}

.load-more.is-hidden {
    opacity: 0;
    pointer-events: none;
} 